doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="all.css")
    
  body 
    header 
      h1 Learn Code
      nav.nav 
        ul.header-ul 
          li: a(href="#",class="link") ALL Courses  
          li dark 
          li learn
          li: a(href="#",class="link") Support Us  
    .ad-area 
      p.center AD Area
      p You can add your AD here . contact us on our 
        a(href="#").btn Facebook 
        |page
    section.sec
       h1.title HELLO WORLD
       .flex    
        .left-sec
          h3.center About Me
          p 
            |This is Razan Massoud and I will be your instructor for all courses. 
            br
            |I hope you are looking forward to the experience as much as I am.
            br
            |We will spend the course working together, learning from each other, 
            br
            |and supporting one another's success.
            div.center
              a(href="").btn Youtube
              a(href="").btn Facebook
        .right-sec.center 
          img(src="me.jpeg", alt="me")
          h3 Razan Massoud
    section.sec.sec2
      h1.title WHAT'S NEW
      h2.center NEW IN 2022
      ol.mt 
        li Upcoming videos will be available first for 
          a(href="#").btn members
        li Done with JavaScript level 3
        li Done with NODE.JS LEVEL 1 
          a(href="#").btn WATCH NOW 
        li Uploaded CSS 
          a(href="#").btn video 1
          |and
          a(href="#").btn  video 2
      h2.center.mt HELP US IMPROVE 
      p.mt.center Missing a feature? Got ideas? Reach out to us and let us know.
        br 
        |We take all your feedback super seriously and follow up on each message we get. 
        br
        |This website is built for you, so help us help you.
      div.center.mt
        a(href="").btn Say Something
    section.sec(style="padding-bottom: 3rem")
       h1.title Why Choose Us?
       ol
        li It works with top Universities and Organizations to facilitate its online courses.
        li Coursera offers a variety of payment plans.
        li Its courses are flexible, affordable, job relevant and recognized by future employers.
    main.sec        
      section     
        h1.title From Zero to Hero 
      .myflex
        article.divcontainer
          a(href='#')
            .course-box.html-box
              .number-box.number-html
                span.num  1 
              h2.html-course.course-title
                |HTML 2022
              p.click
                |HTML FULL COURSE
              .html-container.last-two-parts
                span.mark <  /> 
                h4.html-logo.bottom-course HTML
        
        article.divcontainer
          a(href='#')
            .course-box.js-box
              .number-box.number-js
                span.num  2 
              h2.js-course.course-title
                |JavaScript 2022
              p.click
                |JS FULL COURSE
              .js-container.last-two-parts
                span.mark {} 
                h4.js-logo.bottom-course JavaScript
        
        article.divcontainer
          a(href='#')
            .course-box.css-box
              .number-box.number-css
                span.num  3 
              h2.css-course.course-title
                |CSS 2022
              p.click
                |CSS FULL COURSE
              .css-container.last-two-parts
                span.mark {} 
                h4.css-logo.bottom-course CSS   
      
      section
        h1.title Web Development Level 2 
        p COMING SOON  
    
    footer   
      .family-bottom-page 
        h3 Become a Member
        ul
          li: a(href="#") HTML & CSS family
          li: a(href="#") JavaScript Family
          li: a(href="#") Facebook Page 
      p Designed and developed by Razan Massoud 2022 